@import url('https://fonts.googleapis.com/css2?family=Archivo:wdth,wght@62..125,100..900&family=Michroma&display=swap');

main {
  display: grid;
  grid-template-areas:
    "menu content";
  grid-template-columns: 1fr 2fr;
  margin: 0 3rem 3rem;
  gap: 1rem;
}

h1{
  font-family: "Archivo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-variation-settings: "wdth" 125;
  font-size: 8rem;
  line-height: 1px;
}

h2{
  font-family: "Archivo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings: "wdth" 125;
  font-size: 3rem;
  line-height: 1px;
}

/* .logo{
    
} */

.sticky{
  position: -webkit-sticky;
  position: sticky;
  top: 2.8rem;
}

/* .site-preview{
  max-wdith
} */