section {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#side1 {
    width: 300vw;
    display: flex;
}

#side2 {
    width: 200vw;
    display: flex;
}

#side3 {
  width: 200vw;
  display: flex;
}