@import url(https://use.typekit.net/gkr4eyj.css);

html, body {
  max-width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

section {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lower-bg{
  filter: brightness(75%);
  filter: contrast(115%);
}

#container {
  position: fixed;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: hue-rotate(-74deg);
  transition: all .5s;
  z-index: -1;
}

.slide {
  display: block;
  position: absolute;
  mix-blend-mode: hard-light;
  transform: rotate(180deg);
  filter: brightness(75%);
}


#side1 {
  width: 300vw;
  display: flex;
}

#side2 {
  width: 200vw;
  display: flex;
}

#side3 {
  width: 200vw;
  display: flex;
}

body::-webkit-scrollbar {
  display: none;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 130px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

#title{
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-areas:
    "title-left title-right";
  grid-template-columns: 7fr 5fr;
}

.title-left{
  align-self: end;
  margin:0 0 60px 153px;
  display: flex;
  flex-direction: column;
  height: 532px;
  justify-content: space-between;
}

#title-text {
  margin: 0;
  color: #FFF;
  font-family: Indivisible;
  font-size: 6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 95%;
  letter-spacing: -4.8px;
}

#start{
  margin: 0;
  padding-top: 13px;
  color: #FFF;
  font-family: Indivisible;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 112.698%;
}

.drop-up {
  align-items: flex-end;
  width: fit-content;
  color: #FFF;
  font-family: Indivisible;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 112.698%;
}

.active {
  position: relative;
  top: 20%;
  opacity: 0;
  transition: all .25s;
}

ul{
  margin: 10px 0 10px 0;
}

.drop-up:hover .active {
  top: 0;
  opacity: 1;
}

.flower{
  width: 347.209px;
  height: 671px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#c1{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}

.chapter1text{
  align-self: flex-start;
  margin: 177px 0 0 183px;
  /* justify-content: start; */
}

.chapter-number{
  color: #FFF;
  font-family: Indivisible;
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: 112.698%;
  margin: 0;
}

.chapter-title{
  color: #FFF;
  font-family: Indivisible;
  font-size: 4.6875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 102%;
  margin: 0;
  width: 1079px;
}

.vine{
  fill: none;
  stroke: #fff;   
  stroke-width: 1px;
  overflow: visible;
  width: 100vw;
  align-self: center;
  justify-content: end;
  margin: 0 0 60px 0;
}

p{
  color: #FFF;
  text-align: justify;
  font-family: Indivisible;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 118%;
}

#c1-p1 {
  display: grid; 
  height: 100vh;
  grid-template-columns: 2fr 1fr 1fr; 
  grid-template-rows: 2fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "c1-p1-left c1-p1-mtm c1-p1-right"
    "c1-p1-left c1-p1-mb c1-p1-mb";
  border: solid red 2px;
}

.c1-p1-left{
  display: flex;
  flex-direction: column;
  grid-area: c1-p1-left;
  justify-content: space-evenly;
}

.c1-p1-mtm{
  grid-area: c1-p1-mtm;
}

.c1-p1-right{
  grid-area: c1-p1-right;
}

.c1-p1-mb{
  margin: 0 46px 0 46px;
  grid-area: c1-p1-mb;
  display: flex;
  flex-direction: row;
  border: solid red 2px;
  justify-content: space-between;
  align-items: center;
}

.c1-p1-left p{
  justify-content: end;
  margin-left: 60px;
}

.top-boat{
  position: relative;
  left: 172px;
}

.bottom-boat{
  position: relative;
  left: 475px;
}

.c1-p1-mtm {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: start;
  align-content: stretch;
}

.timeline-title{
  margin: 0;
  color: #FFF;
  font-family: Indivisible;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 118%;
}

.c1-p1-mtm svg{
  align-items: end;
}

.slider{
  display: flex;
  flex-direction: column;
}

.line {
  justify-content: center;
}

.years{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.year{
  color: #FFF;
  font-family: Indivisible;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 118%;
  margin: 15px 0 0 0;
}

.slider h3{
  width: 471px;
  color: #FFF;
  font-family: Indivisible;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 118%;
}